<div class="avatar">
	<img class="img-circle" src="<%- gravatar(config.email, 160) %>" alt="" />
</div>
<h1><a href="<%- config.root %>"><%= config.title %></a></h1>
<h2><a href="<%- config.root %>"><% if (config.subtitle){ %><%= config.subtitle %><% } %></a></h2>
<% theme.widgets.forEach(function(widget){ %>
  <%- partial('../_widget/' + widget) %>
<% }); %>